{  
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true
  },
  "plugins": [
    "react"
  ],
  "extends": ["plugin:react/recommended"],
  "rules": {
      "react/prop-types": 0
  }
}